{%- extends 'admin/dashboard/layout.html.twig' -%}
{%- trans_default_domain 'admin' -%}

{%- form_theme form with ['bootstrap_4_layout.html.twig', 'admin/dashboard/form/common.html.twig'] -%}
{%- form_theme form.blocks 'admin/dashboard/faq/form/blocks.html.twig' -%}

{%- block breadcrumbs -%}
    {%- include 'admin/dashboard/partials/breadcrumbs.html.twig' with { breadcrumbs: {
        '': 'faq.edit.header'
    } } -%}
{%- endblock breadcrumbs -%}

{%- block content -%}
    <div class="container-fluid mt-3">
        {{- form_start(form, {attr: {autocomplete: "off"}}) -}}
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="mb-3">{{ 'faq.edit.header'|trans }}</h4>
                    {{- form_row(form.blocks) -}}
                </div>
            </div>

            <hr class="mb-4">

            <div class="row mb-lg-5">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success btn-block btn-lg">{{ 'common.buttons.save'|trans }}</button>
                </div>
            </div>
        {{- form_end(form) -}}
    </div>
{%- endblock -%}