{%- extends "admin/dashboard/layout.html.twig" -%}
{%- trans_default_domain 'admin' -%}

{%- block breadcrumbs -%}
    {%- include 'admin/dashboard/partials/breadcrumbs.html.twig' with { breadcrumbs: {
        '': 'contact.list.header'
    } } -%}
{%- endblock breadcrumbs -%}

{%- block content -%}
    <div class="container-fluid">
        <div class="d-inline-flex w-100 justify-content-between">
            <h1 class="display-4 my-4 d-inline-flex">{{ 'contact.list.header'|trans }}</h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'contact.table.header.name'|trans }}</th>
                <th scope="col">{{ 'contact.table.header.email'|trans }}</th>
                <th scope="col">{{ 'contact.table.header.phone'|trans }}</th>
                <th scope="col">{{ 'contact.table.header.message'|trans }}</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {%- for contact in list -%}
                <tr>
                    <td>{{ contact.personName }}</td>
                    <td>{{ contact.personEmail }}</td>
                    <td>{{ contact.personPhone }}</td>
                    <td>{{ contact.message }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle--table-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons md-18">settings</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item dropdown-item--table-action" href="{{ path('admin_contact_post', {id: contact.contactUuid}) }}"><i class="material-icons md-18">mode_edit</i>&nbsp;Изменить</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {%- else -%}
                <tr><td colspan="5">{{ 'contact.table.empty.text'|trans }}</td></tr>
            {%- endfor -%}
            </tbody>
        </table>

        {%- if list.nbResults > 0 -%}
            {{- pagerfanta(list, 'twitter_bootstrap4') -}}
        {%- endif -%}
    </div>
{%- endblock -%}
